localhost#sh run 
! Command: show running-config
! device: localhost (cEOSSim, EOS-4.20.5F)
!
transceiver qsfp default-mode 4x10G
!
spanning-tree mode mstp
! This command is needed for scp to work on ceos
aaa authorization exec default local
!
no aaa root
!
username arista privilege 15 secret sha512 $6$wG3foX14jGdS.zyr$6s2x.sM7sACXoihJIaKnGfFloIOD4kQqHYm4ubXSR46pte4auDj51HD9XrZx43gt8ddvEZ7LJTo4cE7KyVbt0.
!
no ip routing
!
management api http-commands
   protocol https port 8443
   no shutdown
!
end
